@layout('layouts.main')
@section('title')
Accueil
@endsection
@section('content')
<div id="error-page">
<h1>ERROR {{status}}</h1>
<h2>Une erreur s'est produite...</h2>
<a class="btn btn-danger" href="/" role="button">Accueil</a>
</div>
@endsection