body{
    background: white;
}
.navbar{
    background:#333333;

    width: 100%;

}

.color-nav{
    color:white !important;
}
.color-nav-admin{
    color:red !important;
}
.navitem .navbar-link{
    color: white;
}

.navbar-collap,.page-pagination,#add-bid-button{
    display: flex;
    justify-content: center;
}

#add-bid-button{
    margin-bottom: 20px;
}

#main-container{
    padding-top:20px;
}

.container{
    width:100%;
}

.img-nav{
    width: 40%;
    height: auto;
}



#img-nav-div{
    background:#333333;width:100%;
}

.bid-index-a{
    width:100%;color:black !important;background-color: blue
}
.bid-index-div{
    width: 100%;text-align:center;
}

/** 

Pour la page d'erreur

*/
#error-page{
    text-align: center;
    
}
#error-page h1{
    font-size: 70px;
}
