body{
    background: white;
}
.navbar{
    background:#333333;

    width: 100%;

}
.navbar-toggler{
    background: white;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.color-nav:hover{
    background: #474646 !important;
}
.color-nav{
    color:white !important;
}
.color-nav-admin{
    color:red !important;
}
.navitem .navbar-link{
    color: white;
}

.register-button,.login-button{
    width:100%;
}
.navbar-collap,.page-pagination,#add-bid-button,.img-nav{
    display: flex;
    justify-content: center;
}

.rank-attribut{
    font-weight: bold;
}
.rank-color{
    color:red;
}
.form-success-general{
    background: green;
    padding-top :10px;
    padding-bottom: 10px;
    padding-left:10px;
}
.form-error-general{
    background: red;
    padding-top :10px;
    padding-bottom: 10px;
    padding-left:10px;
}
.form-error-specific{
    background: red;
    padding-top :2px;
    padding-bottom: 2px;
    padding-left:2px;
}
#add-bid-button{
    margin-bottom: 20px;
}

#main-container{
    padding-top:20px;
}

.container{
    width:100%;
}

.img-nav{
    width: 10%;
    height: auto;
}

.card{
    background: #EAEAEA;
}
.card-style{
    background: #333333;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-top:20px;
    
}

#img-nav-div{
    background:#333333;width:100%;
}

.bid-index-a{
    width:100%;color:black !important;background-color: blue
}
.bid-index-div{
    width: 100%;text-align:center;
}

/** 

Pour la page d'erreur

*/
#error-page{
    text-align: center;
    
}
#error-page h1{
    font-size: 70px;
}
