@layout('layouts.main')
@section('title')
Accueil
@endsection
@section('content')
<div id="error-page">
<h1>ERROR 403</h1>
<h2>Vous n'avez pas les droits pour acceder à cette page...</h2>
<a class="btn btn-danger" href="/" role="button">Accueil</a>
</div>
@endsection