@layout('layouts.main')
@section('title')
Accueil
@endsection
@section('content')
<div id="error-page">
<h1>ERROR 404</h1>
<h2>Cette page n'existe pas...</h2>
<a class="btn btn-danger" href="/" role="button">Accueil</a>
</div>
@endsection