<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
      {{ script('jquery') }}
      {{ script('popper') }}
      {{ style('style') }}
      {{ style('style2') }}
      {{ script('bootstrap') }}
  @!section('extracss')
  <title>
    @!section('title')
  </title>
</head>
<body>
    <div class="container" style="background:#333333">
        <div class="row">
            <div class="col-4">
                <img class="mx-auto d-block" src="logo.png">  
            </div>
        </div>
    </div>
  <nav id="navbar" class="navbar sticky-top navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbarNav">
      <ul class="navbar-nav">
    
        <li class="nav-item active">
          <a class="nav-link color-nav" href="/">Accueil <span class="sr-only">(current)</span></a>
        </li>
        @if(auth.user)
        <li class="nav-item">
          <a class="nav-link color-nav" href="/user/logout">Deconnexion</a>
        </li>

        @else
        <li class="nav-item">
                  <a class="nav-link color-nav" href="/user/login">Connexion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link color-nav" href="/user/register">Inscription</a>
                </li>
        @endif

      </ul>
    </div>
  </nav>
  <div class ="container">


      <div class="row">
          <div class="col-2">

          </div>
          <div class="col-8">
            @!section('content')
          </div>
          <div class="col-2">

          </div>
        </div>


  </div>

    @!section('button-add')

</body>
</html>
