<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="csrf_token" content="{{ csrfToken }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ assetsUrl('img/favicon.ico') }}" type="image/x-icon" />
      {{ script('js/jquery') }}
      {{ script('js/popper') }}
      {{ style('css/styleBootstrap') }}
      {{ style('css/style') }}
      {{ script('js/bootstrap') }}
  @!section('extracssjs')
  <title>
    @!section('title')
  </title>
</head>
<body>
    <div id="img-nav-div">
        
      <a href="/" ><img class="mx-auto d-block img-nav" src="{{ assetsUrl('img/logo.png') }}"></a>
            
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08" style="">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link color-nav" href="/"><strong>Accueil</strong></a>
             </li>
            
        @if(auth.user)
        <li class="nav-item">
          <a class="nav-link color-nav" href="/user/logout">Déconnexion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link color-nav" href="/user/{{auth.user.id}}">Profil</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link color-nav" href="/ranking">Classement</a>
        </li>
        @else
        <li class="nav-item">
          <a class="nav-link color-nav" href="/user/login">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-nav" href="/user/register">Inscription</a>
        </li>
        @endif
        <li class="nav-item">
            <a class="nav-link color-nav" href="/announcement/category/all">Annonces</a>
        </li>
        @if(auth.user.admin == 1)
        <li class="nav-item">
            <a class="nav-link color-nav-admin" href="/backoffice"><strong>BackOffice</strong></a>
        </li>
        @endif
          </ul>
        </div>
      </nav>

  <div class ="container" id="main-container">

            @!section('content')
  </div>

   

</body>
</html>
